<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh5VYoVNW861aAEqU_rAk6E4qnmqtkhQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>789371695298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedatermis.pizzaApp</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-6a40e</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-6a40e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789371695298:ios:377625f86679a2ea170b5b</string>
</dict>
</plist>